@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
 background-color: #bdb8d7;
}
ol, ul {
  padding-left: 0rem;
}
.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: black;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #25232f08;
  border-bottom: 1px solid rgba(50, 182, 182, 0.897);
  border-top: 1px solid rgba(24, 188, 210, 0.813);
}

.wrapper .sidebar ul li a {
  
  color: azure;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
  
}

.wrapper .sidebar ul li:hover {
  background-color: #3cfa68d4;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #c65109;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #0c0b0b;
  border-bottom: 1px solid #e0e4e8;
  text-align: center;
  font-family: 'Tapestry', cursive;

}

.wrapper .main_content .header b {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




